# Ignore directories
.git
.vscode
node_modules
.next

# Ignore files
Dockerfile
.dockerignore
docker-compose.yml
README.md

# Ignore environment files
.env
.env.local
.env.development
.env.production

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
